<h1>Results page</h1>

<ul>
    <% parsedData["Search"].forEach(function(movie)  { %>
        <li>
            <strong>
                <%= movie["Title"] %>
            </strong> 
            - <%=movie["Year"] %>
        </li>
    <% }); %>
</ul>

<a href="/">Search Again!</a>
