<% include partials/header %>

<h1>This is the Home Page</h1>

<h2>Welcome!!!</h2>

<img src="http://images5.aplus.com/uc-up/8d63f1df-d357-4aeb-bcb7-d84f5e96822a/tumblr_n4dvn2M10p1t0p0mgo1_500.resize_640x.jpg">

<% include partials/footer %>