<% include partials/header %>

<h1>You fell in love with: <%= thing %></h1>

<% if(thing === "love"){ %>
    <p>Good Choice! LOVE is the BEST!</p>

<% } else { %>
    <p>Bad Choice! YOU should have said LOVE!</p>
<% } %>

<p>p.s. this is the love.ejs file</p>


<% include partials/footer %>