<h1>Friends List</h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
<% }); %>


<form action="/addfriend" method="POST">
    <input type="text" name="newfriend" placeholder="name">
    <button>I made a new friend</button>
</form>